.Login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Form-wrapper:first-child{
    position: static;
}
.Form-wrapper{
    background-color: var(--bg-c-primary);
    padding: 2rem;
    position: absolute;
}
.Form-h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.Login-form{
    padding: 2rem 0;
    min-width: 15vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Login-label{
    margin: 0 0 .3125rem;
    font-weight: 600;
}
.Login-input{
    background-color: var(--bg-c-secondary);
    width: 100%;
    padding: .5rem;
    border-radius: 2px;
    font-size: .75rem;
}
.Login-input.Login-input--error{
    border: 2px solid var(--f-c-error);
    outline-color: var(--f-c-error);
}
.Error{
    margin: 0 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    font-style: italic;
    color: var(--f-c-error);
    opacity: 0;
}
.Login-input--error+.Error{
    opacity: 1;
}
.Error-svg{
    width: 1.5rem;
}
.Login-submit{
    background-color: var(--bg-c-tertiary);
    color: var(--f-c-primary);
    width: 100%;
    padding: .5rem 5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s ease;
}
.Login-submit:hover{
    background-color: var(--bg-c-tertiary-h) ;
}
.Login-span{
    color: var(--f-c-cuaternary);
}
.Login-btn{
    margin: .5rem 0 0;
    color: var(--f-c-primary);
    cursor: pointer;
}

.Login-picture{
    height: 100%;
}
.Login-img{
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}