.Play-stats{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1.5rem;
}
.Svg-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.Svg-wrapper::after{
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background-color: white;
}
.Play-stats--svg{
    width: 2rem;
}
.Char-disabled{
    color: var(--f-c-cuaternary);
}
