.Latest{
    overflow-x: hidden;
}
.Carrousel-container{
    width: 100%;
    overflow: hidden;
}
.Carrousel-ul{
    width: 600%;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    gap: 2rem;
    transition: transform 1.5s ease;
}
.Carrousel-btns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Carrousel-btn{
    width: .5rem;
    height: .5rem;
    margin: 1rem 0 0;
    background-color: var(--f-c-cuaternary);
    border-radius: 50%;
    cursor: pointer;
}
.Carrousel-btn.isActive{
    background-color: var(--f-c-primary);

}