.Category-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.Category-span{
    text-transform: capitalize;
}
@media(max-width:500px){
    .Category-ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}