.Categories-ul{
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(280px , 1fr));
    gap: 2rem;
}
.Categories-li{
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    transition: transform .5s ease;
}
.Categories-li:hover{
    transform: scale(1.1);

}
.Categories-img{
    border-radius: .5rem;
    opacity: .7;
    transition: opacity .5s ease;
}
.Categories-li:hover .Categories-img{
    opacity: .4;
}
.Span-wrapper--categories{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);      /*  En lugar de hacer el calculo con el font-size, se desplaza la mitad de si mismo para ajustar a centro */
}
.Categories-span{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
}
@media(max-width:985px){
    .Categories-ul{
        display: grid;
        grid-template-columns: repeat( auto-fit , minmax(220px , 1fr));
        gap: 2rem;
    }
}
@media(max-width:552px){
    .Categories-ul{
        grid-template-columns: repeat(2 , 1fr);
    }
    .Categories-span{
        font-size: 1.2rem;
    }
}
