.Profile-menu{
    position: absolute;
    top: 5.75rem;
    right: 2.5rem;
    background-color: var(--bg-c-submenu);
    padding: 2.5rem 2rem;
    z-index: 1;
    border-radius: .5rem;
    transform: translateY(-150%);
    transition: transform .5s ease , opacity 1s ease;
    opacity: 0;
    pointer-events: none;
}
.Profile-menu.isOpen{
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
.Profile-span .Profile-menu.isOpen {
    background-color:var(--bg-c-submenu);
}
.Profile-h2.H2{
    font-size: 1.2rem;
}
.Profile-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
.Profile-btn{
    cursor: pointer;
    color: var(--f-c-primary);
}
.Profile-li:last-child .Profile-btn{
    color: var(--f-c-error);
    font-weight: 500;
}
@media(max-width:530px){
    .Profile-menu{
        top: 7.1875rem;
        right: 1.25rem;
        padding: 1.5rem;
    }
    .Profile-h2.H2{
        font-size: 1rem;
    }
    .Profile-ul{
        font-size: .75rem;
    }
    
}
