.Modify-wrapper{
    position: absolute;
    top: 5.75rem;
    right: 2.5rem;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}
.Modify-menu{
    background-color: var(--bg-c-submenu);
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    transform: translateX(150%);
    transition: transform .5s ease , opacity 1s ease;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}
.Modify-menu.isOpen{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}
.BtnModify-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Modify-submit{
    background-color: var(--bg-c-tertiary);
    color: var(--f-c-primary);
    padding: .5rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
@media(max-width:530px){
    .Modify-wrapper{
        top: 7.1875rem;
        right: 1.25rem;
    }
    .Modify-menu{
        padding: 1.5rem;
    }
    .Signup-label{
        font-size: .75rem;
        margin: .5rem 0 .3125rem;
    }
    .Signup-error{
        font-size: .75rem;
    }
    .BtnModify-wrapper{
        font-size: .75rem;
    }
}