.Header{
    width: 100%;
    background-color: var(--bg-c-primary);
}
.Header-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem 2.5rem;
    position: relative;
    z-index: 3;
    background-color: var(--bg-c-primary);
}
.Logo-h1{
    font-size: 32px;
    font-family:"Back to Black Bold Demo";
    color: var(--f-c-tertiary);
}
.Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 17px;
}
.Nav-li{
    transition: color .5s ease;
}
.Nav-li:hover{
    color: var(--f-c-tertiary);
}
.CurrentPage{
    color: var(--bg-c-tertiary-h);
}
.Header-profile{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background-color .5s ease;
    padding: .5rem;
    border-radius: .5rem;
}
.Header-profile.isOpen{
    background-color:var(--bg-c-submenu);
}
.Profile-svg{
    width: 1.5rem;
    color: var(--bg-c-tertiary);
}
