.Header{
    width: 100%;
    background-color: var(--bg-c-primary);
    position: relative;
    z-index: 2;
}
.Header-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem 2.5rem;
    background-color: var(--bg-c-primary);
    position: relative;
    z-index: 3;
}
.Logo-h1{
    font-size: 2rem;
    font-family:"Back to Black Bold Demo";
    color: var(--f-c-tertiary);
}
.Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.0625rem;
    position: relative;
}
.Nav-li{
    transition: color .5s ease;
    cursor: pointer;
}
.Nav-li:hover{
    color: var(--f-c-tertiary);
}
.Nav-li:last-child{
    width: 100%;
    position: absolute;
    top: 1.875rem;
    left: 0;
}
.CurrentPage{
    color: var(--bg-c-tertiary-h);
}
.Search-btn{
    cursor: pointer;
}
.Search-btn:hover .Search-svg{
    color: var(--f-c-tertiary);
}
.Search-btn.isActive .Search-svg{
    color: var(--f-c-tertiary-h);
}
.Search-svg{
    color: var(--f-c-primary);
    transition: color .5s ease;
}
.Header-profile{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background-color .5s ease;
    padding: .5rem;
    border-radius: .5rem;
}
.Header-profile.isOpen{
    background-color:var(--bg-c-submenu);
}
.Profile-svg{
    width: 1.5rem;
    color: var(--bg-c-tertiary);
}
.Nav-li>.Nav-form{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}
.Nav-li.isOpen>.Nav-form{
    opacity: 1;
    pointer-events: all;
}
.Nav-label{
    opacity: 1;
    pointer-events: all;
}
.Nav-input{
    background-color: var(--bg-c-secondary);
    width: 100%;
    padding: .5rem;
    border-radius: 2px;
    font-size: .75rem;
}
@media(max-width:720px){
    .Header-nav{
        width: 100%;
        order: 2;
    }
}
@media(max-width:530px){
    .Header-wrapper{
        padding: 1.625rem 1.25rem;
    }
    .Nav{
        font-size: .9rem;
        margin: .5rem 0 0;
        justify-content: space-between;
        gap: .5rem;
    }
}
@media(max-width:360px){
    .Header-wrapper{
        padding: 1.625rem .5rem;
    }
}
