.Favs{
    display: none;
}
.Favs.isActive{
    display: block;
}
.Favs-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.Favs-li{
    border-radius: .25rem;
    cursor: pointer;
    transition: transform .3s ease;
    position: relative;
}

@media(max-width:675px){
    .Favs-ul{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media(max-width:500px){
    .Favs-ul{
        grid-template-columns: 1fr;
    }
}