.Favs{
    display: none;
}
.Favs.isActive{
    display: block;
}.Favs-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.Favs-li{
    border-radius: .25rem;
    cursor: pointer;
    transition: transform .3s ease;
    position: relative;
}