.Signup{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Form-wrapper{
    background-color: var(--bg-c-primary);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.Form-h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.Signup-form{
    padding: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.Signup-label{
    margin: 1rem 0 .3125rem;
    font-weight: 600;
}
.Signup-input{
    background-color: var(--bg-c-secondary);
    width: 100%;
    padding: .5rem;
    border-radius: 2px;
    font-size: .75rem;
}
.Signup-input--error{
    outline: red;
    border: 2px solid red;
}
.Signup-error{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    font-style: italic;
    color: var(--f-c-error);
    opacity: 0;
}
.Signup-error.isActive{
   opacity: 1;
}
.Signup-submit{
    background-color: var(--bg-c-tertiary);
    color: var(--f-c-primary);
    width: 100%;
    padding: .5rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s ease;
    align-self: flex-end;
    margin: 2rem 0 0;
}
.Signup-submit:hover{
    background-color: var(--bg-c-tertiary-h) ;
}
.Signup-span{
    color: var(--f-c-cuaternary);
}
.Back-btn{
    background-color: var(--bg-c-secondary);
    color: var(--f-c-tertiary);
    width: 100%;
    padding: .5rem 5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s ease , color .5s ease;
}
.Back-btn:hover{
    color: var(--f-c-primary);
    background-color:var(--bg-c-tertiary-h);

}
.Login-picture{
    height: 100vh;
}
.Login-img{
    object-fit: cover;
    height: 100%;
}
@media(max-width:630px){
    .Error{
        font-size: .8rem;
    }
}
@media(max-width:530px){
    .Signup-form{
        padding: 1rem 0;
    }
    .Signup-label{
        font-size: .9rem;
    }
    .Signup-submit{
        font-size: .9rem;
    }
    .Signup-span{
        font-size: .9rem;
    }
    .Login-btn{
        font-size: .9rem;
    }
    .Error{
        font-size: .9rem;
    }
}
@media(max-width:440px){
    .Form-wrapper{
        width: 100%;
    }
    
}