.Small-btn{
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--bg-c-secondary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s ease;
    opacity: 1;
    pointer-events: all;
}
.Small-btn:hover{
    background-color:var(--bg-c-tertiary-h);
}
.Small-btn--svg{
    width: 1.5rem;
}
.Disabled-btn .Fav-svg>path:first-child{
    opacity: 0;
    pointer-events: none;
}
.Fav-btn .Fav-svg > path:last-child{
    opacity: 0;
    pointer-events: none;
}
.Disabled-btn > .Fav-svg > path:last-child{
    opacity: 1;
    pointer-events: all;
}
.Type-wrapper{
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}
.Type-btn{
    color: var(--f-c-primary);
    font-weight: 600;
    background-color: var(--bg-c-cuaternary);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s ease;
}
.Type-btn.isActive{
    background-color: var(--bg-c-tertiary-h);
}
.Type-btn:hover{
    background-color: var(--bg-c-tertiary-h);
}
.DeleteFav-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease , background-color .5s ease;
    width: 1.6rem;
    height: 1.6rem;
    padding: .2rem;
    cursor: pointer;
}
.DeleteFav-btn:hover{
    background-color: var(--f-c-error);
}
.DeleteFav-svg{
    width: 1rem;
}
.Info-chevron{
    position: absolute;
    bottom: 0;
    left: calc((50% - 3.5rem));
    width: 7rem;
    animation: bounce 2s linear infinite;
    cursor: pointer;
    filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.5));
}
@media(max-width:720px){
    .Info-chevron{
        width: 3.5rem;
        right: 1rem;
        left: initial
    }
}
@media(max-width:685px){
    .DeleteFav-btn{
        opacity: 1;
        pointer-events: all;
    }
    .Small-btn:hover{
        background-color: var(--bg-c-secondary);
    }
}
@media(max-width:615px){
    .DeleteFav-btn{
        top: .5rem;
        right: .5rem;
        width: 1.2rem;
        height: 1.2rem;
        
    }
}
@media(max-width:530px){
    .Type-wrapper{
        padding: 1.625rem 1.25rem;
    }
    .Type-btn{
        padding: .5rem .75rem;
        font-size: .8rem;
    }
}
@media(max-width:335px){
    .Info-chevron{
        display: none;
    }
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(1.8rem);
    }
    65% {
        transform: translateY(.8rem);
    }
}
