@font-face {
  font-family:"Back to Black Bold Demo";
  src: url("./fonts/Back_to_Black_Bold_Demo.eot?") format("eot"), url("./fonts/Back_to_Black_Bold_Demo.woff") format("woff"), url("./fonts/Back_to_Black_Bold_Demo.ttf") format("truetype"), url("./fonts/Back_to_Black_Bold_Demo.svg#BacktoBlackBoldDemo") format("svg");
  font-weight:normal;
  font-style:normal;
}
*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
  font-size: inherit;
  font-weight: inherit;
}
a{
  color:inherit;
  text-decoration: none;
  display: block;
}
p a{
  display: inline;
}
img , picture , video , iframe , svg {
  display: block;
  width: 100%;
  height: initial;
}
svg{
  fill: currentColor;
}
form , input , label , select , option , textarea , button{
  font-size: inherit;
  font-family: inherit;
  display: block;
  background-color: transparent;
}
html{
  scroll-behavior: smooth;
}
:root{
  font-size: 100%;

  --bg-c-primary : #000;
  --bg-c-secondary: #fff;
  --bg-c-tertiary: #9C27F7;
  --bg-c-tertiary-h: #B188E6;
  --bg-c-cuaternary: #858585;
  --bg-c-submenu: #33373D;
  --f-c-primary : #fff;
  --f-c-secondary : #000;
  --f-c-tertiary: #9C27F7;
  --f-c-cuaternary: #858585;
  --f-c-error: #E66868;
}
body{
  font-family: "Open Sans", sans-serif;
  color: var(--f-c-primary)
}
.H2{
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 1.5rem;
}
.H3{
  font-size: 18px;
  font-weight: 700;
}

